.comment-item {
  display: flex;
  flex-direction: column;
  padding: 1rem .8rem;
}

.comment-item:nth-child(even) {
  background-color: #eee;
}

.comment-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.6rem;
}

.comment-item__name {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.comment-item__email {
  font-size: 1.2rem;
  font-style: italic;
}

.comment-item__body {
  width: 80%;
  font-size: 1.5rem;
  margin: 0 0 1.6rem 1.6rem;
}

.comment-edit-btn {
  align-self: flex-end;
}


@media screen and (max-width: 600px) {
  .comment-item__info {
    flex-direction: column;
    align-items: flex-start
  }

  .comment-item__name {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .comment-item__email {
    font-size: .8rem;
  }

  .comment-item__body {
    font-size: 1.2rem;
    margin: 0;
  }
}