.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem;
  height: 10rem;
  background-color: grey;
}

.navigation-brand {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.navigation__buttons {
  font-size: 3rem;
}

.navigation-btn:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .navigation {
    padding: 1.5rem;
  }

  .navigation-brand {
    font-size: 3rem;
  }

  .navigation__buttons {
    font-size: 2rem;
  }

  
}

/* @media screen and (max-width: 600px) {
  .comment-list {
    padding: 1rem;
  }

} */